/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/js
/public/css
/public/mix-manifest.json
package-lock.json
yarn.lock
composer.lock
laravel-echo-server.json
laravel-echo-server.lock

dump.rdb
resources/.DS_Store
resources/lang/.DS_Store
.DS_Store
